.hero {
    text-align: center;
    padding: 10px 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #9EC41C;

    background: linear-gradient(to right, #000, #9EC41C);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #000;
}

.options {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.option {
    background-color: #312F2F;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
    max-inline-size: 20ch;
    text-wrap: balance;
    cursor: pointer;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.searchContainer input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.searchContainer button {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.searchContainer button img {
    width: 20px;
    height: 20px;
}
