header.navbarHeader {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem 1rem 2rem;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */

    .logo {
        height: 5rem;
        aspect-ratio: 2/1;
    }
}

nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul.ul {
    background-color: #F7F7F7;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

nav.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav.navbar ul li {
    margin: 0;
}

nav.navbar ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

nav.navbar ul li a.active {
    background-color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 0.25rem;
}

a.contact {
    background-color: #000;
    color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icon {
    font-size: 24px;
    color: #000;
    cursor: pointer;
}
